*{
  margin: 0px;
  padding: 0px;
  font-family: helvetica;
}

div#banner{
  width: 100%;
  height: 400px;
  background-color: white;

}

img#img_banner{
  display: block;
  margin: auto;
  width: 100%;
  max-width: 1200px;
  min-width: 500px;
}
.lb-album {
  width: 900px;
  margin: 0 auto;
  font-family: "BebasNeueRegular", "Arial Narrow", Arial, sans-serif;
}
.lb-album li {
  float: left;
  margin: 5px;
  position: relative;
}
.lb-album li > a,
.lb-album li > a img {
  display: block;
}
.lb-album li > a {
  width: 150px;
  height: 150px;
  position: relative;
  padding: 10px;
  background: #f1d2c2;
  -webkit-box-shadow: 1px 1px 2px #fff,
    1px 1px 2px rgba(158, 111, 86, 0.3) inset;
  -moz-box-shadow: 1px 1px 2px #fff, 1px 1px 2px rgba(158, 111, 86, 0.3) inset;
  box-shadow: 1px 1px 2px #fff, 1px 1px 2px rgba(158, 111, 86, 0.3) inset;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
}
.lb-album li > a span {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 10px;
  left: 10px;
  text-align: center;
  line-height: 150px;
  color: rgba(27, 54, 81, 0.8);
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
  font-size: 24px;
  opacity: 0;
  filter: alpha(opacity=0); /* internet explorer */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
  background: rgb(241, 210, 194);
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 0.56) 0%,
    rgba(241, 210, 194, 1) 100%
  );
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(255, 255, 255, 0.56)),
    color-stop(100%, rgba(241, 210, 194, 1))
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 0.56) 0%,
    rgba(241, 210, 194, 1) 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 0.56) 0%,
    rgba(241, 210, 194, 1) 100%
  );
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 0.56) 0%,
    rgba(241, 210, 194, 1) 100%
  );
  background: radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 0.56) 0%,
    rgba(241, 210, 194, 1) 100%
  );
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.lb-album li > a:hover span {
  opacity: 1;
  filter: alpha(opacity=99); /* internet explorer */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
.lb-overlay {
  width: 0px;
  height: 0px;
  position: fixed;
  overflow: hidden;
  left: 0px;
  top: 0px;
  padding: 0px;
  z-index: 99;
  text-align: center;
  background: rgb(241, 210, 194);
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 0.56) 0%,
    rgba(241, 210, 194, 1) 100%
  );
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(255, 255, 255, 0.56)),
    color-stop(100%, rgba(241, 210, 194, 1))
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 0.56) 0%,
    rgba(241, 210, 194, 1) 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 0.56) 0%,
    rgba(241, 210, 194, 1) 100%
  );
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 0.56) 0%,
    rgba(241, 210, 194, 1) 100%
  );
  background: radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 0.56) 0%,
    rgba(241, 210, 194, 1) 100%
  );
}
.lb-overlay > div {
  position: relative;
  color: rgba(27, 54, 81, 0.8);
  opacity: 0;
  filter: alpha(opacity=0); /* internet explorer */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
  width: 550px;
  margin: 10px auto 0px auto;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
  -webkit-transition: opacity 0.3s linear 1.3s;
  -moz-transition: opacity 0.3s linear 1.3s;
  -o-transition: opacity 0.3s linear 1.3s;
  -ms-transition: opacity 0.3s linear 1.3s;
  transition: opacity 0.3s linear 1.3s;
}
.lb-overlay div h3,
.lb-overlay div p {
  padding: 0px 20px;
  width: 200px;
  height: 60px;
}
.lb-overlay div h3 {
  font-size: 36px;
  float: left;
  text-align: right;
  border-right: 1px solid rgba(27, 54, 81, 0.4);
}
.lb-overlay div h3 span,
.lb-overlay div p {
  font-size: 16px;
  font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD",
    Georgia, serif;
  font-style: italic;
}
.lb-overlay div h3 span {
  display: block;
  line-height: 6px;
}
.lb-overlay div p {
  text-align: left;
  float: left;
  width: 260px;
}
.lb-overlay a.lb-close {
  background: rgba(27, 54, 81, 0.8);
  z-index: 1001;
  color: #fff;
  position: absolute;
  top: 43px;
  left: 50%;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  width: 50px;
  height: 23px;
  overflow: hidden;
  margin-left: -25px;
  opacity: 0;
  filter: alpha(opacity=0); /* internet explorer */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.3s linear 1.2s;
  -moz-transition: opacity 0.3s linear 1.2s;
  -o-transition: opacity 0.3s linear 1.2s;
  -ms-transition: opacity 0.3s linear 1.2s;
  transition: opacity 0.3s linear 1.2s;
}
.lb-overlay img {
  /* height: 100%; For Opera max-height does not seem to work */
  max-height: 100%;
  position: relative;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
}
.lb-overlay:target {
  width: auto;
  height: auto;
  bottom: 0px;
  right: 0px;
  padding: 80px 100px 120px 100px;
}
.lb-overlay:target img {
  -webkit-animation: fadeInScale 1.2s ease-in-out;
  -moz-animation: fadeInScale 1.2s ease-in-out;
  -o-animation: fadeInScale 1.2s ease-in-out;
  -ms-animation: fadeInScale 1.2s ease-in-out;
  animation: fadeInScale 1.2s ease-in-out;
}
.lb-overlay:target a.lb-close,
.lb-overlay:target > div {
  opacity: 1;
  filter: alpha(opacity=99); /* internet explorer */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}

nav {
  margin: auto;
  margin-top: 40px;
  position: relative;
  width: 50vw;
  min-width: 320px;
  height: 200px;
}

nav h2 {
  border-radius: 2px;
  position: relative;
  background: rgb(70, 67, 67);
  height: 40px;
  text-transform: uppercase;
  color: ivory;
  font-weight: 200;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 0.35);
  transition: all 0.4s;
}

nav:hover h2 {
  transform: translateY(-2px);
  box-shadow: 2px 2px 5px -1px rgba(190, 100, 100, 0.35);
}
nav:hover:active h2 {
  transform: translateY(10px);
  box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.35);
}

input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  height: 40px;
}

#toggle:checked ~ ul {
  height: 0%;
}

nav ul {
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
  list-style: none;
  overflow: hidden;
  text-align: right;
  margin-bottom: 22px;
  text-align: center;
  transition: all 0.4s ease-out;
  height: 100%;
}
nav ul li {
  border-radius: 2px;
  position: relative;
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
  background: rgb(70, 67, 67);
  transition: background 3s;
  box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.35);
}

nav ul li:hover {
  background: mediumorchid;
  transition: background 0.45s;
}

nav ul a {
  display: block;
  color: ivory;
  text-transform: lowercase;
  font-size: 18px;
  font-weight: 200;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-clean {
  clear: both;
  margin-top:500px;
  padding: 25px 0;
  background-color: #fff;
  color: #4b4c4d;
  width: 100%;
  height: 10%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item.social {
  text-align: right;
}

@media (max-width: 767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align: center;
  }
}

.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

@media (max-width: 991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
}

.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}

@-webkit-keyframes fadeInScale {
  0% {
    -webkit-transform: scale(0.6);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes fadeInScale {
  0% {
    -moz-transform: scale(0.6);
    opacity: 0;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes fadeInScale {
  0% {
    -o-transform: scale(0.6);
    opacity: 0;
  }
  100% {
    -o-transform: scale(1);
    opacity: 1;
  }
}
@-ms-keyframes fadeInScale {
  0% {
    -ms-transform: scale(0.6);
    opacity: 0;
  }
  100% {
    -ms-transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeInScale {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* 
	100% Height for Opera as the max-height seems to be ignored, not optimal for large screens 
	http://bricss.net/post/11230266445/css-hack-to-target-opera 
*/
x:-o-prefocus,
.lb-overlay img {
  height: 100%;
}
